//JCL14   JOB 1
//***************************************************/
//HELLO   EXEC PGM=IEFBR14
//DSN1    DD DSN={{dsname}},
//        DISP=(NEW,CATLG),
//        UNIT=SYSALLDA,
//        SPACE=(TRK,1)